:root {
    --pink-col: rgb(176, 140, 167);
}


.navbar-nav {
    margin-left: auto;
    margin-right: 50px !important;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--pink-col) !important;
}

.navbar-brand {
    margin-left: 50px;
    font-size: 22px;
    color: var(--pink-col) !important;    
}

.nav-item {
    margin-right: 20px;
    
}

.nav-link {
    color: var(--pink-col) !important;
}

a:hover {
    background-color: white;
  }

.profile-image {
    height: 250px;
    border-radius: 50%;
    border: solid var(--pink-col) 5px;
    margin-right: 50px;
}

h1 {
    font-size: 55px !important;
    color: var(--pink-col);
    font-weight: bold !important;
    background-color: aliceblue;
    margin: 50px; 
}

.spacer {
    letter-spacing: 5px;
}

.jumbotron {
    display: flex;
    background-image: url(../Images/Hero\ image-min.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(70vh - 25px);
    background-position: none;
    align-items: center;
    justify-content: center;  
}

.btn {
    margin: auto;
    background-color: var(--pink-col);
    border-color: var(--pink-col);
    text-align: center;
    vertical-align: middle;
}

.btn-primary:hover {
    background-color: rgb(176, 140, 167);
    border: rgb(176, 140, 167);
}

body {
    background-color: rgb(176, 140, 167);
}

h2 {
    font-size: 45px !important;
    color: white;
    font-weight: bold !important;
    text-align: center;
}

.row {
    padding: 20px;
    border: solid red 5px;
}

.col {
    padding: 20px;
    border: solid green 5px;
    background-color: var(--pink-col);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.btn-primary:hover {
    background-color: rgb(113, 55, 103);
}

.container2 {
    background-color: white;
    padding: 50px;

}

@media only screen and (max-width: 769px) {
    .profile-image {
      display: none;
    }
  }

  @media only screen and (max-width: 769px) {
    h1 {
      font-size: 35px !important;
    }
  }
